@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
  font-family: 'Open Sans';
  color: #254356;
}

button{
  border-radius: 0;
  width: 100%;
  height: 50%;
}

button[type="submit"] {
  -webkit-appearance:none; -webkit-border-radius:0;
}

button i{
  float: right;
  margin-top: 3px;
}

button.a{
  background-color: #1aaaf8;
}

button.b{
  background-color: #00cbca;
}

#tip{
  color: #c0c9ce;
  font-size: 14px;
}

#vote {
  background-color: #e7ecf5;
  padding: 30px 50px;
  border-radius: 10px;
}

#hostname{
  margin-top: 50px;
  font-size: 14px;
  opacity: 0.5;
}

#content-container{
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: table;
  padding: 10px;
  max-width: 600px;
  height: 100%;
}
#content-container-center{
  display: table-cell;
}

#content-container-center h3{
  margin-top: 0px;
}

#choice{
  transition: all 300ms linear;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 3em;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice button{
  display: block;
  height: 80px;
  width: 45%;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size:18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: left;
}

#choice button.a:hover{
  background-color: #1488c6;
}

#choice button.b:hover{
  background-color: #00a2a1;
}

#choice button.a:focus{
  background-color: #1488c6;
}

#choice button.b:focus{
  background-color: #00a2a1;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}

.werf-success {
  margin-top: 50px;
  background-color: #e7ecf5;
  padding: 30px 50px;
  border-radius: 10px;
}

  .werf-success__text {
    font-size: 14px;
  }

    .werf-success__text a {
      color:  #0066ff;
    }

  .werf-success__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    height: 80px;
    width: 100%;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0066ff;
    padding: 0 20px;
  }

    .werf-success__button:hover {
      background-color: #000;
    }
